    </div> 
    <footer class="footer">
        <p>© {{copyRightYear}} Created by <a target="_blank" href="https://github.com/iasjem" title="Link to my Github profile">Iasjem</a></p>
    </footer>
</body>
</html>