<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Friends Social</title>

    <link rel="stylesheet" type="text/css" href="vendor/css/material-design-icons.css" />
    <link rel="stylesheet" type="text/css" href="style.min.css" />
    <script src="vendor/js/jquery-3.4.0.min.js"></script>
</head>
<body>
    <header class="header__navbar">
        <a class="a__brand-logo" href="/">Friends Social</a>
        <nav>
            <a href="/user/login">Login</a>
            <form action="/search" method="GET">
                <div class="form--horizontal"></div>
                    <div class="block">
                        <input id="searchByUser" type="text" placeholder="Find a friend" />
                        <button id="btn__clear-input">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <button id="btn__toggle-nav" class="btn__toggle-nav">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
            <a href="/user/logout">Log Out</a>
        </nav>
    </header>