<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Friends Social</title>

    <link rel="stylesheet" type="text/css" href="vendor/css/material-design-icons.css" />
    <link rel="stylesheet" type="text/css" href="style.min.css" />
    <script src="vendor/js/jquery-3.4.0.min.js"></script>
</head>
<body>