<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Friends Social</title>

    <link rel="stylesheet" type="text/css" href="/vendor/css/material-design-icons.css" />
    <link rel="stylesheet" type="text/css" href="/style.min.css" />
    <script src="/vendor/js/jquery-3.4.0.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header__navbar">
            <div class="container clearfix">
                <a class="a__brand-logo" href="/">Friends Social</a>
                <nav class="clearfix">
                    {{#if userId}}
                        <a href="/user/{{userId}}">Profile</a>
                        <form action="/user/logout" method="POST">
                            <button class="btn a">Logout</button>
                        </form>
                    {{/if}}
                </nav>
            </div>
        </header>