{{> header}} 
    <main class="full-center">
        <form action="/" method="POST">
            <div class="form--vertical">
                <div class="row">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" placeholder="Your Email" required/>
                </div>
                <div class="row">
                    <input class="btn" type="submit" value="Log in" />
                </div>            
            </div>
        </form>
    </main>    
{{> footer}}