{{> header}} 
    <main>
        <header> 
            {{{ userViewController }}}
        </header>
        <section>
            {{{ postViewController }}}
        </section>
    </main>    
{{> footer}}